extends layout

block content
  .flex
    .h-auto.p-6(class="w-3/4")

      h1 PostBin
        |
        |
        small.text-grey-darker
          | (a service by
          |
          a(href="") webdev.sh
          | )

      h2 Programmatically Test your API Clients or Webhooks
      p.
        Use PostBin to collect all requests to a special URL which you can use to test your API Clients or your WebHooks.
        Inspect your bin visually on this website, or use our API to programmatically test your libraries, clients,
        projects, SaaS or websites.

      h2 Four Tiny Steps
      ol
        li Create a new Bin
        li Send any request (GET, POST, PUT, PATCH, DELETE, etc) to your bin
        li Read your bin contents
        li Compare with the result(s) you expect

      h2 What are you waiting for?

      div.text-center.p-6
        form.form-inline(method="POST",action="/b/")
          button.bg-blue.text-white.font-bold.py-2.px-4.rounded.text-lg(class="hover:bg-blue-dark" type="submit") Create Bin

      p Once you create a bin, you can send requests to it and view the results.

    .h-auto.p-6(class="w-1/4")

      script(
        async
        type="text/javascript"
        src="//cdn.carbonads.com/carbon.js?serve=CK7D527J&placement=postbin"
        id="_carbonads_js"
      )

      h2 API
      p
        | PostBin has an <a href="/api/">API</a> that you can use programmatically - yes, this is the killer feature. See our 
        a(href="/api/") API Docs
        |  for more details.

      h2 Notes
      p.
        Each bin will expire after 30 mins. If you need bins that last longer then stayed tuned for updates.
